# Zadanie 5
Analiza zbioru danych Titanic:
o Wczytaj zbiór danych Titanic zawierający informacje o pasażerach statku.
o Przeprowadź analizę eksploracyjną danych, identyfikując istotne cechy dla przewidywania przeżycia.
o Przygotuj dane do budowy modeli klasyfikacji, usuwając brakujące wartości i kodując zmienne kategoryczne.
o Zbuduj modele klasyfikacji, takie jak regresja logistyczna lub drzewo decyzyjne, do
przewidywania przeżycia pasażerów.
o Oceń jakość klasyfikatorów za pomocą metryk oceny, takich jak dokładność i
krzywa ROC-AUC.
o Zinterpretuj wyniki i zidentyfikuj czynniki mające największy wpływ na przeżycie.

In [30]:
from sklearn.datasets import load_digits
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
from sklearn.datasets import load_breast_cancer
from sklearn.linear_model import LogisticRegression
import numpy as np 
from sklearn.svm import SVC
from sklearn.datasets import fetch_openml
import pandas as pd
import seaborn as sns

In [32]:
np.random.seed(42)

X, y = fetch_openml("titanic", version=1, as_frame=True, return_X_y=True)
X.drop(['boat', 'body', 'home.dest'], axis=1, inplace=True)
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, test_size=0.2)

C:\Users\jakub\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\datasets\_openml.py:1022: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

In [33]:
X_train.head()

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
999,3.0,"McCarthy, Miss. Catherine 'Katie'",female,NaN,0.0,0.0,383123,7.7500,NaN,Q
392,2.0,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1.0,0.0,SC/PARIS 2167,27.7208,NaN,C
628,3.0,"Andersson, Miss. Sigrid Elisabeth",female,11.0,4.0,2.0,347082,31.2750,NaN,S
1165,3.0,"Saad, Mr. Khalil",male,25.0,0.0,0.0,2672,7.2250,NaN,C
604,3.0,"Abelseth, Miss. Karen Marie",female,16.0,0.0,0.0,348125,7.6500,NaN,S

In [34]:
# sprawdzenie ilości braków
X_train.isnull().sum()

pclass        0
name          0
sex           0
age         209
sibsp         0
parch         0
ticket        0
fare          1
cabin       822
embarked      0
dtype: int64

In [35]:
# Usuwanie Kabin
X_train.drop(['cabin'], axis=1, inplace=True)
X_test.drop(['cabin'], axis=1, inplace=True)
X_train

,pclass,name,sex,age,sibsp,parch,ticket,fare,embarked
999,3.0,"McCarthy, Miss. Catherine 'Katie'",female,NaN,0.0,0.0,383123,7.7500,Q
392,2.0,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1.0,0.0,SC/PARIS 2167,27.7208,C
628,3.0,"Andersson, Miss. Sigrid Elisabeth",female,11.0,4.0,2.0,347082,31.2750,S
1165,3.0,"Saad, Mr. Khalil",male,25.0,0.0,0.0,2672,7.2250,C
604,3.0,"Abelseth, Miss. Karen Marie",female,16.0,0.0,0.0,348125,7.6500,S
...,...,...,...,...,...,...,...,...,...
1290,3.0,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1.0,0.0,363272,7.0000,S
1103,3.0,"Panula, Master. Urho Abraham",male,2.0,4.0,1.0,3101295,39.6875,S
755,3.0,"Davies, Mr. Joseph",male,17.0,2.0,0.0,A/4 48873,8.0500,S
530,2.0,"Pengelly, Mr. Frederick William",male,19.0,0.0,0.0,28665,10.5000,S
668,3.0,"Barton, Mr. David John",male,22.0,0.0,0.0,324669,8.0500,S

In [41]:
# obsługa braków

KeyError: "['female'] not in index"